.container-map {
	width: 60%;
	/* margin: 0 auto; */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	border: 3px solid #ff807e;
}
.btn {
	margin-bottom: 20px;
}
.btn:hover {
	background: #03e9f4;
	/* color: ; */
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
		0 0 100px #03e9f4;
}
