/***** articles front page*****/

.articlesContainer{
    width:836px;
    display:flex;
    justify-content: space-between;
}

.article{
    width:197px;
    position: relative;
}

.article img{
    width:186px;
    height:auto;
    top:0;
    box-shadow: -7px 9px 4px 6px rgba(31, 34, 43, 0.46);
}

.articleTitle{
    position:absolute;
    width:100%;
    z-index:2;
    top: 0.5em;
    /* left:0.5em; */
    text-align: right;
    font-size:max(3em, 26px)!important;
}


/***** articles separate pages *****/

.frame{
    width: 60%;
    border: solid 3px var(--clr-salmon);
    padding-bottom: 3em;
    position:absolute;
    top:0;
}

.pageContainer{
    width:100%;
    /* background-color: red; */
    position:relative;
    height:50rem;
    top:0;
    display:flex;
    justify-content: center; 
}

.pageTitle{
    position:absolute;
    width:100%;
    z-index:2;
    top: 0.5em;
    left: -1rem;
    text-align: left;
    font-size:max(3em, 26px)!important;
}

.frame p{
    margin:6em 2em 4em 5em;
}

.contentPage{
    width:70%;
    float: left;
    z-index:2;
}

.numbersContainer{
    position:absolute;
    bottom:0;
    width:100%;
    height:3em;
    background-color: var(--clr-salmon);
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
}

.numbers{
    width:90%;
    color:#252b3b;
    font-family: "Rubik One", sans-serif;
    font-size:22px;
    font-weight: 900;
}

/**** photos and images****/

/* --photos-position-left:; */

.imageArticleLeft{
    display: inline-block;
    width:20vw;
    min-width:16em;
    position:absolute;
    z-index:2;
    top: 2vh;
    left: 0;
}

.imageArticleRight{
    display: inline-block;
    width:20vw;
    min-width:16em;
    position:absolute;
    z-index:2;
    top: 2vh;
    left: 0;
}

.imageArticleTopRight{
    display: inline-block;
    width:20vw;
    min-width:16em;
    position:absolute;
    z-index:2;
    top: -8vh;
    right: 20%;
}

.photosLeft{
    position:absolute;
    right:-8em;
    width:30%;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photosDown{
    position:absolute;
    right:-8em;
    width:30%;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}


.photo{
    height:18vw;
    width: 18vw;
    max-width: 220px;
    max-height: 220px;
    margin:0.5em;
    object-fit:contain;
    z-index:4;
}

