/***** articles front page*****/

.articlesContainer{
    width:836px;
    display:flex;
    justify-content: space-between;
}


.article{
    width:197px;
    position: relative;
}

.article img{
    width:186px;
    height:auto;
    top:0;
    box-shadow: -7px 9px 4px 6px rgba(31, 34, 43, 0.46);
}

.articleTitle{
    position:absolute;
    width:100%;
    z-index:2;
    top: 2em;
    left:0.05em;
    text-align: right;
}

h2{
    font-size:max(2em, 26px)!important;
}

/***** articles separate pages *****/

.frame{
    width: 100%;
    border: solid 3px #FF807E;
    padding: 4em 2em 1em 1em;
}

