/***** articles front page*****/

.articlesContainer {
	display: flex;
	min-height: 100vh;
	margin-top: 10em;
	justify-content: center;
}
.image {
	margin-top: 50px;
	margin: 2rem;
	width: 300px;
	height: 375px;
}
.content {
	width: 800px;
	height: 400px;
}
.article {
	position: relative;
}
.article img {
	width: 200px;

	margin: 2rem;
	box-shadow: -7px 9px 4px 6px rgba(31, 34, 43, 0.46);
}
.articleTitle {
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 0.5em;
	left: 0.2em;
	text-align: left;
	font-size: max(3em, 26px) !important;
}

/* .articlesContainer {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.article {
	width: 197px;
	position: relative;
}
.article img {
	height: auto;
	top: 0;
	box-shadow: -7px 9px 4px 6px rgba(31, 34, 43, 0.46);
}

.image {
	 margin-top: 50px; 
width: 300px;
height: 375px;
} 

.articleContainerTitleImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.articlePageTitle {
	font-size: 1.9rem;
}

.articleTitle {
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 0.5em;
	left: 0.05em;
	text-align: right;
	font-size: max(3em, 26px) !important;
}
*/
/* p {
	margin-top: 1rem;
} */

/***** articles separate pages *****/

.frame {
	width: 100%;
	border: solid 3px #ff807e;
	padding: 4em 2em 1em 1em;
}
