*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-white: #ffff;
	--clr-salmon: #e66e6b;
	--clr-dark: #252b3b;
	--dark-button: #c9ecfc;
	--light-button: #8e4698;
	--dark-linear-grad: linear-gradient(
		180deg,
		#5f2c4d 0%,
		rgba(95, 44, 77, 0.708333) 66.67%,
		rgba(95, 44, 77, 0) 100%
	);
	--light-linear-grad: linear-gradient(
		180deg,
		#2f66f2 0%,
		rgba(194, 101, 246, 0) 100%
	);

	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

.dark-theme {
	--dark-button: #c9ecfc;
	--clr-h2: var(--clr-white);
	--clr-font: #fefaf8;
	--clr-primary: #ffa7c4;
	--linear-grad: linear-gradient(
		180deg,
		#5f2c4d 0%,
		rgba(95, 44, 77, 0.708333) 66.67%,
		rgba(95, 44, 77, 0) 100%
	);
	background-image: url('../Assets/SpaceBackgroundDark.jpg');
	background-size: cover;
}

.light-theme {
	--light-button: #8e4698;
	--clr-font: var(--clr-dark);
	--clr-primary: #d23669;
	--clr-h2: var(--clr-white);
	--linear-grad: linear-gradient(
		180deg,
		#2f66f2 0%,
		rgba(194, 101, 246, 0) 100%
	);
	background-image: url('../Assets/SpaceBackgroundBright.jpg');
	background-size: cover;
}

body {
	background-repeat: no-repeat;
	width: 100%;
	background: url('../Assets/body.png') no-repeat;
	background-position: center top;
}

.rootStyle {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

h1,
h3,
h4,
h5,
h6,
li,
a {
	font-family: 'Rubik One', sans-serif;
	color: var(--clr-font);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-family: 'Rubik One', sans-serif;
	font-size: 1.1rem;
	color: var(--clr-h2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
}

h3 {
	font-size: 24px;
}

p,
span {
	font-family: 'sahitya', sans-serif;
	color: var(--clr-font);
}

/* ---------Titres--------- */

.title {
	font-size: 46px;
	color: var(--clr-bcg);
}

/* ---------Shadow-réutilisable--------- */

.shadow {
	--shadows-boxes: -7px 9px 4px 6px rgba(31, 34, 43, 0.46);
}

/* -----------Footer/Nav------------------ */

footer,
nav {
	background: var(--linear-grad);
}
