.leafletContainer {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: auto;
	border: 3.5px solid #e66e6b;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.parag-map {
	margin: 0;	
	padding: 0;
}

.span-map img {
	width: 30px;
	height: 40px;	
}

.button-map {
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}



