.section {
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;

	/* width: 90vw;
	height: 80vh;
	margin: 0 auto;

	max-width: var(--max-width); */
}
.quiz {
	width: 60vw;
	max-width: var(--max-width);
	height: 700px;
	margin: 7rem auto;
	background: var(--linear-grad);
	border-radius: var(--radius);
	padding: 2rem;
}
.quiz-small {
	max-width: 400px;
}

.container h2 {
	margin-bottom: 2rem;
	text-align: center;
	line-height: 1.5;
	text-transform: none;
}
.answer-btn {
	display: block;
	width: 100%;
	margin: 0.75rem auto;
	background: var(--clr-primary-7);
	border-radius: var(--radius);
	border-color: transparent;
	color: var(--clr-black);
	letter-spacing: var(--spacing);
	font-size: 1rem;
	cursor: pointer;
	padding: 1rem 0.5rem;
	transition: var(--transition);
}
@media screen and (min-width: 576px) {
	.answer-btn {
		max-width: 60%;
	}
}
.answer-btn:hover {
	background: var(--clr-primary-5);
	color: var(--clr-white);
}
.correct-answers {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	height: 50px;
	text-align: right;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	color: var(--clr-primary-5);
}
.next-question,
.close-btn,
.submit-btn {
	border-radius: var(--radius);
	border-color: transparent;
	padding: 0.25rem 0.5rem;
	display: block;
	width: 35%;
	margin-left: auto;
	margin-top: 2rem;
	text-transform: capitalize;
	font-weight: 700;
	letter-spacing: var(--spacing);
	font-size: 1rem;
	background: #c9ecfc;
	color: var(--clr-black);
	transition: var(--transition);
	cursor: pointer;
}
.next-question:hover {
	background: #805900;
	color: #ffb100;
}
/*
=============== 
Form
===============
*/

.setup-form h2 {
	margin-bottom: 2rem;
}
.form-control {
	margin-bottom: 1rem;
}
.form-control label {
	display: block;
	text-transform: capitalize;
	font-weight: 500;
	color: var(--clr-title);
	margin-bottom: 0.5rem;
}
.form-input {
	border: none;
	background: var(--clr-grey-10);
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	width: 100%;
	border-radius: var(--radius);
}
.error {
	color: red;
	text-transform: capitalize;
	height: 100px;
}
.submit-btn {
	width: 100%;
	margin-top: 3rem;
}
.title-quiz {
	color: var(--clr-title);
}
/*
=============== 
Loading
===============
*/
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading {
	width: 6rem;
	height: 6rem;
	margin: 0 auto;
	margin-top: 10rem;
	border-radius: 50%;
	border: 3px solid #ccc;
	border-top-color: var(--clr-primary-5);
	animation: spinner 0.6s linear infinite;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: var(--transition);
	z-index: -1;
}
.isOpen {
	opacity: 1;
	z-index: 999;
}

.modal-content {
	background: var(--clr-primary);
	width: 90vw;
	max-width: var(--fixed-width);
	padding: 3rem;
	border-radius: var(--radius);
	text-align: center;
	position: relative;
}
.modal-content p {
	font-size: 1.5rem;
	text-transform: none;
}
.close-btn {
	margin-right: auto;
}
