.header {
	width: 100%;
	display: flex;
	margin: 8rem auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.introductionFrame {
	width: 100%;
	border: solid 3px #ff807e;
	padding: 4em 2em 1em 1em;
}

.introduction {
	width: 60%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainTitle {
	position: absolute;

	z-index: 3;
	left: -1em;
	top: 0.3em;
}

/* hr {
    width:60%;
    border: 0.5px solid #262b3b;
    margin:3em 0;
} */
