nav {
	width: 100%;
	height: 190px;
	background: linear-gradient(
		180deg,
		#5f2c4d 0%,
		rgba(95, 44, 77, 0.708333) 66.67%,
		rgba(95, 44, 77, 0) 100%
	);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 2em;
	position: relative;
}

.containerNavbar {
	width: 95vw;
	height: 8vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: white;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

/* .containerNavbar button {
    width: 50px;
    height: 50px;
} */

.containerLinks {
	width: 45vw;
}

.containerLinks ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}

.containerLinks ul a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

#logo {
	width: 20%;
	display: flex;
	justify-content: center;
}

.navCenter {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-self: center;
	margin-right: 1em;
}
