.footer-form {
    color: black;
}
footer {
	height: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #9f5ccc;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
